*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
*.jks
*.keystore
keystore.properties
/keystore/
/dist/
ui_*.xml
/ui_*.xml

.kotlin/
